.navegacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px 20px;
}

.navegacion__enlace {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.navegacion__enlace:hover {
  color: #ff9800;
}

#boton-carrito {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  fill: #fff;
}

.navegacion__boton-regresar {
  background-color: #ff9800; /* Botón acorde al tema */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: auto;
}

.navegacion__boton-regresar:hover {
  background-color: #e68900;
}
