/* ProductGrid.css */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  gap: 16px; /* Espacio entre los elementos de la cuadrícula */
  padding: 16px; /* Espacio entre el borde de la pantalla y los productos */
  box-sizing: border-box; /* Incluye padding en el ancho total del contenedor */
}

.product-card {
  border: 1px solid #ddd; /* Borde ligero para cada tarjeta de producto */
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
  text-align: center; /* Centra el texto en la tarjeta */
  background-color: #fff; /* Fondo blanco para cada tarjeta */
  padding: 16px; /* Espacio interno en cada tarjeta */
  width: 15rem;
  height: 20rem;
}

.product-card img {
  max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
  height: 15rem; /* Mantiene la proporción de la imagen */
}

.product-card h2 {
  font-size: 1.2rem; /* Tamaño de fuente del nombre del producto */
  margin: 8px 0; /* Margen superior e inferior */
}

.product-card p {
  font-size: 1rem; /* Tamaño de fuente del precio */
  color: #333; /* Color del texto del precio */
}
